/* Nicholas Thibeault 8835735 */
body{
    font : normal normal normal 12px/1.5 Arial, Helvetica, sans-serif;
    width : 100vw;
    height : 100vh;
    background-color : hsla(269, 62%, 40%, 0.5);
}
h2{
    color : #f02;
    font-size : 2em;
}
header{
    background-color : hsl(202, 85%, 46%);
    color:blueviolet;font-size:30px;
}
nav ul li{
    display : inline;
    list-style-type : none;
}
nav ul li a{
    color : indigo;
    border : 2px solid indigo;
    background-color : cornsilk;
    text-decoration : none;
    padding : 5px;
}
nav ul li a:hover{
    color : cornsilk;
    background-color : indigo;
    border-color : cornsilk;
}
main{
    float : left;
    width : 65vw;
    background-color : hsl(202, 85%, 46%);
}
aside{
    float : right;
    width : 25vw;
    background-color : hsl(204, 79%, 37%);
}
a:hover{
    color : #f02;
}
aside li{
    list-style-type : square;
    line-height : 2em;
}
li, a{
    color : rgba(110, 9, 80, 0.7);
}
footer{
    clear : both;
    background-color : hsl(167, 87%, 36%);
}
.structural{
    margin : 10px;
    padding : 10px;
    border : 2px solid black;
}
#para1{
    color : rgb(93, 84, 219);
}
#para2{
    color : rgb(27, 219, 75);
}
form{
    border : 5px dashed darkblue;
    padding : 5px;
}
input[type=text], input[type=email], input[type=select], select, option{
    display : block;
    width : 50%;
    height : 2em;
} 
input[type=radio], input[type=checkbox]{
    height : 2em;
    width : 2em;
}
select, option, label, legend, input[type=submit]{
    font-size : 1.5rem;
    font-weight : bold;
    font-variant : small-caps;
}
textarea{
    display : block;
    width : 50%;
}
fieldset{
    border : none;
}

footer p{
    font-size : .75em;
}