/* Nicholas Thibeault 8835735 */
html{
    font : normal normal normal 20px/1.5 Arial, Helvetica, sans-serif;
    
}
body{
    width : 100vw;
    height : 100vh;
    background-color : hsla(269, 62%, 40%, 0.5);
    flex-direction : column;
}
h2{
    color : #f02;
    font-size : 2em;
}
h2{
    color : #f02;
    font-size : 1.5em;
}
header{
    background-color : hsl(202, 85%, 46%);
    color:blueviolet;font-size:30px;
}
nav ul li{
    display : inline;
    list-style-type : none;
}
nav ul li a{
    color : indigo;
    border : 0.1em solid indigo;
    background-color : cornsilk;
    text-decoration : none;
    padding : 0.25rem;
}
nav ul li a:hover{
    color : cornsilk;
    background-color : indigo;
    border-color : cornsilk;
}
section{
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : space-between;
    align-items : stretch;
}
main{
    flex : 2 1 70%;
    background-color : hsl(202, 85%, 46%);
}
aside{
    flex : 1 1 30%;
    background-color : hsl(204, 79%, 37%);
}
a:hover{
    color : #f02;
}
aside li{
    list-style-type : square;
    line-height : 2em;
}
li, a{
    color : rgba(110, 9, 80, 0.7);
}
footer{
    background-color : hsl(167, 87%, 36%);
}
.structural{
    margin : 1rem;
    padding : 1rem;
    border : 0.1em solid black;
}
#para1{
    color : rgb(93, 84, 219);
}
#para2{
    color : rgb(27, 219, 75);
}
form{
    border : 0.25em dashed darkblue;
    padding : 1rem;
}
input[type=text], input[type=email], input[type=submit], select, option{
    display : block;
    width : 50%;
    height : 2em;
} 
input[type=radio], input[type=checkbox]{
    height : 2em;
    width : 2em;
}
select, option, label, legend, input[type=submit]{
    font-size : 1.5rem;
    font-weight : bold;
    font-variant : small-caps;
}
textarea{
    display : block;
    width : 50%;
}
fieldset{
    border : none;
}

footer p{
    font-size : .75em;
}

img{
    width : 80%;
    height : 80%;
}

figure{
    border : 0.1em solid black;
}

#gallery{
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows : 1fr 1fr;
    row-gap : 0.5rem;
    column-gap : 0.5rem;
}
@media (max-width : 600px){
    html{
        font-size : 10px;
    }
    #gallery
    {
        grid-template-columns : 1fr;
        grid-template-rows : 1fr;
    }
    section{
        display : block;
    }
}